
.Coachh{
    font-family: Tahoma;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#Coach-container {
	max-width: 1200px;
	margin: 0 auto;
    margin-bottom: 20px;
    color: snow;
    font-family: 'Tahoma', sans-serif;
    background-color: rgba(149, 190, 250, 0.15);
    border-radius: 10px;
    box-shadow: 0 10px 30px black;
    text-align: left;
}

.Coachh img {
  object-fit: contain;
  margin: 0 auto;
  max-width: 20%;
  text-align: center;
  height: 300px;
  padding: 20px;
}
@media screen and (max-width: 1000px) {
  Coachh img {
    display: none;
  }
}

h2{
    justify-content: center;
    text-align: center;
    width:100% ;
    font-size: 1.7em;
    text-transform: UPPERCASE;
    margin-bottom: 10px;
    margin-top: 20px;
    border-bottom: 4px solid #5e5551;
    letter-spacing: 1px;
    font-weight: bolder;
}

* {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Geneva, Verdana, sans-serif;
}

.Coachh p {
	flex: 1;
	padding: 20px;
  	flex-direction: row;
	justify-content: center;
}

/*********** Flashing title ***********/

h5{
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: "Arial";
    font-size: 70px;
    display: flex;
    justify-content: center;
	position: relative;
	letter-spacing: 5px;
	color: #dddddd;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	line-height: 0.70em;
	outline: none;
	animation: animate 3s linear infinite;
}
@keyframes animate{
	0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
		color: #0e3742;
		text-shadow: none;
	}
	18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
		color: #fff;
		text-shadow: 0 0 10px #e46c74,
		            0 0 20px #e46c74,
		            0 0 40px #e46c74,
		            0 0 80px #e46c74,
		            0 0 160px #e46c74;

	}
}

/* for heading and bottom */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Geneva, Verdana, Buffalo, Tahoma sans-serif;
    box-sizing: border-box;
}



body{
    /*min-height: 100vh;*/
    /*background-color: papayawhip;*/
    /*background-color: rgba(255, 239, 213, 0.7);*/
    background: url("../pics/trainers_background.jpg") no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: calc(100vh - 100px);
}

section p{
    font-family: 'Geneva', sans-serif;
    font-size: 20px;
}

.row p{
    text-align: center;
    font-size: 12px;
    margin: 10px;
    font-family: 'Geneva', sans-serif;
    color: snow;
}

p{
    text-align: center;
}