* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Geneva, Verdana, Buffalo, Tahoma sans-serif;
    box-sizing: border-box;
}


body{
    /*min-height: 100vh;*/
    background: url("../pics/user-background.jpeg") no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: calc(100vh - 100px);
}


/*********** BODY items ***********/

.mainForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f2f2;
    align-items: center;
    max-width: 600px;
    margin-top: 120px;
    border-radius: 5px;
    box-shadow: 0 10px 30px black;

}

.profile-items {
    margin: 10px;
    text-align: center;
}

.lesson-list {
  margin: 10px;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.lesson {
  margin: 5px;
  padding: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
}

.button-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button{
  margin: 5px;
  padding: 10px;
  background-color: #978985;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e46c74;
}

.button:active {
  background-color: #e46c74;
}

.profile-items .button{
    margin: 2px;
    padding: 3px;
}

input{
    background-color: #e0d9d0;
    border: none;
}

.user-icon {
    font-size: 40px;
    color: #e46c74;
    line-height: 60px;
    margin: 0px;
}

td {
  padding: 10px;
}