
body{
        background-color: rgba(255, 255, 255, 0.2);

    /*min-height: 100vh;*/
    background-size:cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: calc(100vh - 100px);
}

.content {
	padding-bottom: 25px;
    bottom: 0px;
    box-sizing: border-box;
    font-family: Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.form-container{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 10px 30px black;
    padding: 20px;
    margin: 20px;
    margin-top: 40px;
    width: 50%; /* Set the width of the form container div */
    float: left; /* Float the form container div to the left */

}

.form-container form {
	flex-basis: 100%;
	padding: 30px;
}

select {
	display: block;
	width: 40%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #e46c74;
	border-radius: 10px;
}

.form-container label {
	display: block;
    font-size: 25px ;
    margin-top: 10px;
    color: snow;
    font-weight: bold;
    font-family: Gill Sans, sans-serif;

}

.form-container input {
	display: block;
	width: 40%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #e46c74;
	border-radius: 10px;
}

.form-container input[type="submit"] {
	background-color: #e46c74;
	color: #fff;
	border: none;
    border-radius: 10px;
	padding: 10px;
	cursor: pointer;
    margin-top: 10px;
    width: 40%;
}

.form-container input[type="submit"]:hover {
    background-color: #8395ad;
}


.content form h1{
    padding: 5px;
    font-family: Gill Sans, sans-serif;
    justify-content: left;
    width:100% ;
    font-weight: bolder;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 60px;
    border-bottom: 4px solid #e46c74;
    display: inline-block;
    letter-spacing: 1px;
    text-align: center;
    color: snow;
}

.content form h4{
    justify-content: center;
    text-align: center;
    width:100% ;
    font-size: 1.7em;
    text-transform: UPPERCASE;
    margin-bottom: 10px;
    margin-top: 15px;
    border-bottom: 4px solid #e46c74;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: bolder;
}

