*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Geneva, Verdana, Buffalo, Tahoma sans-serif;
}

body{
    background: url("../pics/sign-up.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper{
    width: 400px;
    padding: 1rem 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: papayawhip;
    background-color: rgba(255, 239, 213, 0.2);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 30px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

h1{
    font-size: 2rem;
    color: #5e5551;
    margin-bottom: 1.2rem;
}

form input{
    width: 92%;
    outline: none;
    border: 1px solid indianred;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: white;
}

button {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background-color: #e46c74;
}

button:hover{
    background-color: brown;
}

input:focus{
    border: 1px solid #8395ad;
}


.recoverPass{
    text-align: center;
    font-size: 0.9rem;
    color: #5e5551;
    margin: 0.3rem 1.4rem 0 0;
}

.recoverPass a{
    color: darkred;
    text-decoration: none;
}


label{
    font-size: 0.9rem;
}


input[type="submit"] {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background-color: #e46c74;
}

input[type="submit"]:hover {
    background-color: brown;
}
