.content_table {
    font-family: Geneva, Verdana, sans-serif;
    font-weight: bold;
}

h1{
    padding-top: 100px;
    justify-content: left;
    width:100% ;
    font-weight: bolder;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 4px solid #e46c74;
    display: inline-block;
    letter-spacing: 1px;
    text-align: center;
}

h3{
    justify-content: center;
    text-align: center;
    width:100% ;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 15px;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: bold;
}

#schedule-table {
    margin: 20px;
    border-collapse: collapse;
    width: 95%;
}

#schedule-table td,
#schedule-table th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
}
#schedule-table th{
    background-color: #e46c74;
}

.content_table p   {
    padding-left: 30px;
    margin-left: 30px;
    font-weight: bolder;

}

.button{
    margin: 5px;
    margin-left: 5%;
    padding: 10px;
    background-color: #978985;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.button:hover {
  background-color: #e46c74;
}

.button:active {
  background-color: #e46c74;
}

.profile-items .button{
    margin: 2px;
    padding: 3px;
}

body{
    /*min-height: 100vh;*/
    background-color: papayawhip;
    background-color: rgba(255, 239, 213, 0.7);
    background-size:cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: calc(100vh - 100px);
}

section p{
    font-family: 'Geneva', sans-serif;
    font-size: 20px;
}

.row p{
    text-align: center;
    font-size: 12px;
    margin: 10px;
    font-family: 'Geneva', sans-serif;
    color: snow;
}
