extends layout

block topContent
  head
    meta(charset='UTF-8')
    title Coaches
    link(rel='stylesheet' href='/CSS/coach.css')
    script(defer='' src='/JS/coachers.js')
    h5 Our Coaches
    #Coach-container
      table
        tr
        each n in V1
          tr
            td
              | #{n.name}
            td
              | #{n.description}
            td
              img(src='/pics/' +n.photo, alt='Coach Photo')
block content