extends layout

block topContent
  head
    meta(charset='UTF-8')
    title Coaches
    link(rel='stylesheet' href='/CSS/coach.css')
    script(defer='' src='/JS/coachers.js')
    h5 Our Coaches
    #Coach-container
block content