extends layout

block topContent
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='/CSS/home-page.css')
    title Flow Studio Home

  .changing
    .box.b1  Unlock your potential
    .box.b2  Find your rhythm
    .box.b3  Experience the power
    .box.b4  Achieve your goals
    .box.b5  Join us now!
  .titles
    h5 FLOW Studio
    h4 - Since 2017 -
  .about-text
    p
      | Located in the heart of Meitar, FLOW studio offers you its state-of-the-art facilities and modern equipment.
      br
      br
      | Whether you are a beginner or a seasoned athlete, FLOW has everything you need to reach your fitness goals.
  .about-us
    p
      | Personal training studio tailored to your needs. Select the class and the coach for you!
    p
      | Choose from our list of professional and experienced trainers. Each one is a professional trainer.
    p
      | Schedule lessons and track your progress. Use our new system to keep up your work.
  .triple-picture
    .bottomPicture
      img(src='/pics/gym-picture1.jpeg' alt='Picture 1')
      p High quality equipment
    .bottomPicture
      img(src='/pics/gym-picture2.jpeg' alt='Picture 2')
      p Design for pros
    .bottomPicture
      img(src='/pics/gym-picture3.jpeg' alt='Picture 3')
      p Group classes
block content