doctype html
html
  link(rel='stylesheet' href='/CSS/Review.css')
  head
    title Initialization database
  body
    h1 Initialization database: Tables and Data
    h3 Please use these 3 links for: CREATE, INSERT, DROP
    h3 Enjoy our website
    br
    ul
      li
        a(href="http://localhost:3000/createAll") CREATE tables
      li
        a(href="http://localhost:3000/insertAll") INSERT data
      li
        a(href="http://localhost:3000/dropAll") DROP tables
