<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/SignUp2.css">
    <script src="/JS/Welcome-title.js"> </script>
    <script src="https://kit.fontawesome.com/b39bb7fe27.js"></script>
    <link rel="icon" type="image/png" href="/pics/site_icon_small.png">
    <title>Sign Up</title>
</head>
<body onload="welcomingTitle()">
    <div class="topBar"> </div>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <img src="/pics/flow%20big.png" alt="Navigation Bar Logo" class = "navBarLogo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Coach">FLOW coaches </a></li>
            <li><a href="/classes">FLOW classes</a></li>
            <li><a href="/Table-classes">FLOW week schedule</a></li>
            <li><a href="/Contact">Contact us</a></li>
            <li><a href="/my-profile">My Profile</a></li>
             <li><a href="/Sign_in">Sign In/Sign Up</a></li>
        </ul>
    </nav>
    <div class="wrapper">
        <h1>Sign Up</h1>
        <form class="sign-in-form" action="/createNewCustomer" method="POST">
                <label for="ID">Please enter your ID</label>
                <input type="tel" id="ID" name="ID" placeholder="Enter ID" required>
                <label for="FirstName">Please enter your First Name</label>
                <input type="text" id="FirstName" name= "FirstName" placeholder="Enter First Name" required>
                <label for="LastName">Please enter your Last Name</label>
                <input type="text" id="LastName" name= "LastName" placeholder="Enter Last Name" required>
                <label for="Email">Please enter your Email</label>
                <input type="Email" id="Email" name="Email" placeholder="Enter Email" required>
                <label for="password">Please enter your password</label>
                <input type="password" id="password" name="password" placeholder="Enter Password" required>
                <label for="healthlevel">Health level:</label>
                <select id="Healthlevel" name="Healthlevel" size="1" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="submit" value="Sign Up">
                    <div class="member">
                        Already a member? <a href="/Sign_in">
                        Login Here
                        </a>
                    </div>
        </form>
    </div>
    <br><br>

</body>
</html>