extends layout

block topContent
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='/CSS/Table%20of%20classes.css')
    script(defer='' src='/JS/training-schedule.js')
    title Table of Classes

  .content_table
    h1 Weekly Training Schedule
    p Welcome! The table you see here displays the training schedule for the current week.
    p It's important to keep in mind that the trainings and times will vary every week.
    br
    h3 Register
    p To participate, please make sure to register for the training by filling out the registration form.
    p Note: You cannot register for a class if you are not signed in.
    p
      | Click here:
      button#regi.button(data-url='/Registaration') Register to class
    br

    h3 Classes available this week
    .containertable
      table
        thead
          tr
            th.border Day of the week
            th.border Time
            th.border Training details: Coach - Type
          tbody
            each n in Data
                tr
                    td.border=n.day_training
                    td.border=n.time_training
                    td.border=n.details

block content